<header>
  <img src="assets/img/rachel.jpeg" alt="Rachel Albuquerque - Foto de Perfil" width="130px" height="130px"
    loading="eager">
  <h1>Rachel Albuquerque</h1>
</header>

<aside>
  <div class="container">
    <p>Frontend Angular | JavaScript | TypeScript</p>
    <p>Fortaleza, Ceará, Brasil</p>
    <p>Com aproximadamente 3 anos de experiência no desenvolvimento de software, foco na criação de interfaces dinâmicas
      e soluções inovadoras.</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/rachel-albuquerque/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do whatsapp" width="22px" height="24px">

        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5585988519159&text=Ol%C3%A1%20Rachel,%20preciso%20de%20um%20job!"
            target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (85) 9 8851-9159</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px">

        <figcaption>
          <a href="mailto:rachel_albuquerque@outlook.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>rachel_albuquerque&#64;outlook.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
