:root {
    --primary: #45004C;
    --primary-010: #CA7DD2;
  
    --secondary: #06628a;
    --secondary-010: #06374e;
  
    --white: #fff;
  
    --black: #10101a;
    --black-010: #2a2a30;
  
    --grey: #9b9ba0;
  }